{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!--suppress HtmlUnknownTarget -->
    {% block stylesheet %}
        <link rel="stylesheet" href="{% static "/css/main.css"%}">
    {% endblock %}

    <meta charset="UTF-8">
    <title>Purkyňka - den firem</title>
    <link rel="icon" type="image/x-icon" href="{% static "/img/icon.png"%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <a href="http://127.0.0.1:8000/"><img class="logo" alt = "base" src="{% static "/img/logo.png"%}"></a>          <!--PRI NASAZENI SE MUSI ZMENIT LINK HREF-->
        <nav>
            <ul class="links">
                  <li><a href="/firmy/">Firmy</a></li>
                  <li><a href="/zaci/">Žáci</a></li>
                  <li><a href="/ucebny/">Učebny</a></li>
                  <li><a href="/admin/">Admin</a></li>
            </ul>
        </nav>
    </header>

    <div id="container">
        <div id="main">
            {% block message %}
            <h2 id = "main-text">
                WEBOVÁ APLIKACE PRO SPRÁVU DNE FIREM - BASE
            </h2>
            {% endblock %}
        </div>
    </div>

    <footer>
        <p>Den firem 1.0.0</p>
    </footer>

</body>
</html>