{% extends 'myapp/base.html' %}     <!--z ceho dedime-->
{% load static %}   <!--nacteni adresare se statickymi soubor (css)-->


{% block stylesheet %}  <!--tag definujici blok kodu (html) ktery je prepisovatelny dalsimi templaty, tady to je z
                            duvodu toho ze kazdy stranka bude mit nejspis rozdilne css-->
{{ block.super }}    <!--provadime to co je v bloku stylesheets u rodice - tzv. nacitame main.css-->
    <link rel="stylesheet" href="{% static "/css/firmy.css"%}">
{% endblock %}   <!--konec definicniho tagu-->

{% block message %}     <!--tag definujici blok kodu (html) ktery je prepisovatelny dalsimi templaty-->
    <h2 id = "main-text">
      WEBOVÁ APLIKACE PRO SPRÁVU DNE FIREM - FIRMY
    </h2>
    <div id="control-panel">
        <div id="add-firma-bubble" class="bubble">
            <form method="POST" action="">
            {% csrf_token %}    <!--bezpecnosti opatreni-->
            {{ form.as_p }}     <!--vypisovani formularu podle forms.py-->
            <input type="submit">
            </form>
        </div>
        <div id="searchbar-firma-bubble">
            <input type="text" placeholder="Zadejte název firmy" class="search-input">
            <br>
             <a class="a-modify-button" href=''><button class="modify-button">VYHLEDAT</button></a>
        </div>
    </div>
    <br>
    <div>
        {% for firma in firmy %}    <!--cyklus prochazejici firmy-->
        <div id="firma-bubble" class="bubble-firmy">
            <a class="a-firmy">{{firma.nazev_firmy}}</a>                           <!--nacitani nazvu firmy-->
            <a class="a-firmy"> --- {{firma.o_firme}}</a>
            <a class="a-firmy"> --- {{firma.nazev_prezentace}}</a>
            <div class="danger-zone">
                <a class="a-modify-button" href=''><button class="modify-button">UPRAVIT</button></a>
                <a class="a-remove-button" href='{% url 'delete-item' firma.id_firmy %}'><button class="remove-button">ODSTRANIT</button></a>
            </div>
        </div>
        <br>
        {% endfor %}    <!--preruseni cykly, takovy break-->
    </div>
{% endblock %}  <!--konec definicniho tagu-->