body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60));
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;

}

.center {
    position: absolute;
    top: 20%;
    left: 40%;
    right: 40%;
    background: rgba(255, 255, 255, .8);
    border: solid rgb(12, 161, 230) 2px;
    border-radius: 20px;

}

.center h2 {
    text-align: center;
    padding: 0 0 30px 0;
    border-bottom: 2px solid black;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    border-bottom: 2px solid black;
    margin: 30px 0;

}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    font-size: 18px;
}

.dropbtn {
    width: 100%;
    background-color: #7CB9E8;
    color: whitesmoke;
    padding: 10px;
    font-size: 20px;
    border: none;
    opacity: 80%;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
  }



.login_btn {
    width: 100%;
    background-color: rgb(124, 185, 232);
    color: whitesmoke;
    padding: 10px;
    font-size: 20px;
    border: none;
    opacity: 80%;
    border-radius: 8px;
    margin: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
    text-align: left;
}

.footer p {
    color: rgb(29, 29, 29);
}


.login_btn:hover {
    background-color: #3e8e41;
}
