{% extends 'myapp/main.css' %}


p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.bubble {
    background-color: white;
    width: 800px;
    height: 450px;
    border: solid rgb(62, 97, 200) 3px;
    border-radius: 10px;
    position: relative;
    margin-left: 200px;
    padding: 3px;
    display: inline-block;
    text-align: right;
}

#searchbar-firma-bubble {
    position: absolute;
    width: 800px;
    height: 70px;
    border-radius: 10px;
    display: inline-block;}

.search-input {
    height: 100%;
    width: 80%;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: white;
    placeholder-color: white;
    border: solid rgb(62, 97, 200) 3px;
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.3));;
}

.search-input-2 {
    height: 100%;
    width: 80%;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: white;
    placeholder-color: white;
    border: solid rgb(62, 97, 200) 3px;
    background: grey;
}

.bubble-firmy {
    background-color: white;
    width: 1500px;
    height: 70px;
    border: solid rgb(62, 97, 200) 3px;
    border-radius: 10px;
    position: relative;
    margin-left: 200px;
    padding: 3px;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
}

.a-firmy {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: rgb(62, 97, 200);
    text-decoration: none;
}

.danger-zone {
    margin-left: auto;
    height: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
}



.modify-button {
  align-items: center;
  background-color: rgb(62, 97, 200);
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  flex-shrink: 0;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.add-button {
  align-items: center;
  background-color: rgb(62, 97, 200);
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  flex-shrink: 0;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: right;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
    width: 174px;
}

.add-button-2 {
  align-items: center;
  background-color: rgb(62, 97, 200);
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  flex-shrink: 0;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: right;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.modify-button:active {
  background-color: rgb(62, 97, 200);
}

.modify-button:hover {
  background-color:rgb(64, 173, 93);
}

.remove-button {
  align-items: center;
  background-color: darkred;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#add-firma-bubble input[type="submit"].add-button:hover {
    background-color: rgb(64, 173, 93);
    color: white;
}

.remove-button:hover {
  background-color:red;
}


.add-button:hover {
    background-color: rgb(64, 173, 93);
    color: white;
}

.add-button-2:hover {
    background-color: rgb(64, 173, 93);
    color: white;
}

.bubble:hover {
    border: solid rgb(64, 173, 93) 3px;
}

.bubble-firmy:hover {
    transform: scale(1.1);
    border: solid rgb(64, 173, 93) 3px;
}

.search-input:hover {
    border: solid rgb(64, 173, 93) 3px;
}


::placeholder {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 32px;
}

        /* Your custom styles go here */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }